body {
    font-family: Noto Sans JP, Segoe UI, Source Sans Pro, Calibri, Candara, Arial, sans-serif;
    position: relative;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.page_title {
    height: 40px;
    background: #FFFFCC;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 24px;
}

.content-block p {
    line-height: 20.27px;
    font-weight: 400;
    font-size: 14px;
}

#menu_fix_bottom {
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
}

#menu_fix_bottom .btn_booking {
    width: 343px;
    height: 72px;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    background: #00826C;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    display: inline-block;
    margin-bottom: 50px;
}

#menu_fix_bottom .btn_back_to_bot {
    color: #989C9E;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
}

#page_loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color:rgba(0,0,0,0.4);
    text-align: center;
}

#page_loading img{
    margin-top: 50%;
    transform: translateY(-50%);
}
